In [1]:
import pandas as pd
from utils import get_sentence, load_dataset

2022-11-24 08:23:37.700441: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-24 08:23:37.864679: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-11-24 08:23:37.864696: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-11-24 08:23:37.888725: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-11-24 08:23:38.363678: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-11-24 08:23:38.363725: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-11-24 08:23:38.363729: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
(x_train, y_train), (x_test, y_test) = load_dataset()
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((25000,), (25000,), (25000,), (25000,))

In [3]:
pd.DataFrame(x_train)

                                                       0
0      [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...
1      [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...
2      [1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...
3      [1, 4, 18609, 16085, 33, 2804, 4, 2040, 432, 1...
4      [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...
...                                                  ...
24995  [1, 14, 9, 6, 2758, 20, 21, 1517, 7, 2078, 5, ...
24996  [1, 4679, 2784, 299, 6, 1042, 37, 80, 81, 233,...
24997  [1, 11, 6, 230, 245, 6401, 9, 6, 1225, 446, 86...
24998  [1, 1446, 7079, 69, 72, 3305, 13, 610, 930, 8,...
24999  [1, 17, 6, 194, 337, 7, 4, 204, 22, 45, 254, 8...

[25000 rows x 1 columns]

In [4]:
pd.DataFrame(y_test)

       0
0      0
1      1
2      1
3      0
4      1
...   ..
24995  1
24996  1
24997  0
24998  0
24999  0

[25000 rows x 1 columns]

In [5]:
get_sentence(x_train[0])

"[START] this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert redford's is an amazing actor and now the same being director norman's father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for retail and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also congratulations to the two little boy's that played the part's of norman and paul they were just brilliant children are often left out of the praising list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all"